<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../static/styles/home_style.css" />
  </head>

  <body>

    <div class="display-1 text-center mt-5">
      <p>Welcome to Movie Recommendation System</p>
      <h1>Discover movies you'll love!</h1>
      <div class="container my-5">
        <div class="row">
            <div class="col-md-4 offset-md-2 my-5">
                <a href="#" class="btn btn-lg btn-custom btn-block">Register</a>
                
            </div>
            <div class="col-md-4 offset-md-1 my-5">
              
                <a href="#" class="btn btn-lg btn-custom btn-block">Login</a>
            </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
