<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for additional styling */
        .login-container {
            background-color: #ecbebe;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
   

    <div class="container mt-5">
        {% if messages %}

        {% for message in messages %}
        <h2 {% if message.tags %} class="{{ message.tags }} text-danger text-center"{% endif %}>{{ message }}</h2>
        {% endfor %}
    
    {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    
                    <h2 class="mb-4">Login</h2>
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_email">Email:</label>
                            <input type="email" class="form-control" id="id_email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="id_password">Password:</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS (optional, if required for your project) -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>

</html>
